body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

header h1 {
    color: #fff;
    background-color: #76a376;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #8dbc8a;
    overflow: hidden;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #567d56;
}

section {
    background-color: #eefeeb;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #76a376;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
